# For some unknow reason, node was mapping to documents folder even using jsconfig
NODE_PATH="./src"

PORT=8080

# API path
REACT_APP_API = "http://localhost:3000/"

# OTHERS ENVS
REACT_APP_SITE_NAME = "Remember It"
REACT_APP_SITE_LINK = "https://www.google.com"
# REACT_APP_JWT_TOKEN_STORAGE_NAME = "24719e6179884d788ab54a2ee2a426b7"