@font-face {
  font-family: "NotoSansJP Regular";
  src: url("./Noto_Sans_JP/NotoSansJP-Regular.otf") format("otf");
}
@font-face {
  font-family: "NotoSansJP Light";
  src: url("./Noto_Sans_JP/NotoSansJP-Light.otf") format("otf");
}
@font-face {
  font-family: "NotoSansJP Bold";
  src: url("./Noto_Sans_JP/NotoSansJP-Bold.otf") format("otf");
}
@font-face {
  font-family: "NotoSansJP Thin";
  src: url("./Noto_Sans_JP/NotoSansJP-Thin.otf") format("otf");
}

:root {
  --japanse-font: "NotoSansJP Regular";
  --japanse-font-furigana: "NotoSansJP Light";
}
