/* Including roboto font for japanese characters */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&display=swap");

:root {
  --light: #f5f5f5;
  --dark: rgb(39, 39, 39);
}

/* Default configs for japanese characters */
ruby {
  font-size: 2.5rem;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 500;
  ruby-position: over;
}
rt {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
}

/* Needed to change theming */
body {
  margin: 0;
}
