/* Including roboto font for japanese characters */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");

/* Default configs for japanese characters */
ruby {
  font-size: 2.5rem;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 500;
  ruby-position: over;
}
rt {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
}

/* Needed to change theming */
body {
  margin: 0;
}

/* Bg */
.colorfull {
  background-image: linear-gradient(to top right, #6700ed, #412f58);
}

.siteName {
  font-family: "Kaushan Script", cursive;
}
